Repository happy-co/programmable-video: changes, and which GitLab CI jobs are due for each by the changed paths.
All: firebase_functions, unit_test_example

.gitlab-ci.yml:

image: cirrusci/flutter:stable

stages:
  - lint
  - test
  - publish

flutter_analyze:
  stage: lint
  script:
    - cd example || exit 1
    - flutter pub get
    - cd .. || exit 1
    - flutter analyze --pub
  only:
    - merge_requests

firebase_functions:
  image: node:8.15.0-alpine
  stage: lint
  script:
    - cd example/firebase/functions || exit 1
    - npm i
    - npm run lint
  only:
    refs:
      - merge_requests
    changes:
      - example/firebase/functions/**/*
  # TODO: Should be removed after solving and following all analyses!
  allow_failure: true

unit_test_package:
  stage: test
  script:
    - flutter test --pub test/*
  only:
    - merge_requests
  # TODO: Should be removed after fixing the unit tests!
  allow_failure: true

unit_test_example:
  stage: test
  script:
    - cd example || exit 1
    - flutter test --pub test/*
  only:
    refs:
      - merge_requests
    changes:
      - example/**/*
  # TODO: Should be removed after fixing the unit tests!
  allow_failure: true

dry-run:
  stage: publish
  script:
    - flutter pub get
    - flutter pub publish --dry-run
  only:
    - merge_requests

#9 Moved widget to stateful TwilioWidget and fixed small issue with the connectFailure
  android/src/main/kotlin/unofficial/twilio/flutter/twilio_unofficial_programmable_video/PluginHandler.kt
  android/src/main/kotlin/unofficial/twilio/flutter/twilio_unofficial_programmable_video/RoomListener.kt
  example/pubspec.lock
  lib/src/local_video_track.dart
  lib/src/remote_video_track.dart
  lib/src/twilio_widget.dart
Due: unit_test_example

#10 Implemented the `setVolumeControlStream` natively so the volume buttons are changing the right audio stream.
  CHANGELOG.md
  android/src/main/kotlin/unofficial/twilio/flutter/twilio_unofficial_programmable_video/PluginHandler.kt
Due: none

#9 Reverted the TwilioWidget implementation, Changed some logging
  android/src/main/kotlin/unofficial/twilio/flutter/twilio_unofficial_programmable_video/ParticipantView.kt
  lib/src/local_video_track.dart
  lib/src/remote_video_track.dart
  lib/src/twilio_widget.dart
  pubspec.yaml
Due: none

#11 Added FAQ, Changed log line, Always log the build.MODE, Implemented `setWebRtcBasedAcousticEchoCanceler`
  FAQ.md
  README.md
  android/src/main/kotlin/unofficial/twilio/flutter/twilio_unofficial_programmable_video/PluginHandler.kt
  android/src/main/kotlin/unofficial/twilio/flutter/twilio_unofficial_programmable_video/TwilioUnofficialProgrammableVideoPlugin.kt
Due: none

#8 - Added dartdoc CI/CD job to check if the dartdoc generates errors/warnings. All warnings mapped to errors to ensure an exit code of 1
  .gitlab-ci.yml
  CONTRIBUTING.md
  README.md
  android/src/main/kotlin/unofficial/twilio/flutter/twilio_unofficial_programmable_video/PluginHandler.kt
  dartdoc_options.yaml
  lib/src/audio_codecs/audio_codec.dart
  lib/src/audio_track.dart
  lib/src/audio_track_publication.dart
  lib/src/camera_capturer.dart
  lib/src/connect_options.dart
  lib/src/local_audio_track.dart
  lib/src/local_audio_track_publication.dart
  lib/src/local_participant.dart
  lib/src/local_video_track.dart
  lib/src/local_video_track_publication.dart
  lib/src/network_quality_level.dart
  lib/src/participant.dart
  lib/src/programmable_video.dart
  lib/src/remote_audio_track.dart
  lib/src/remote_audio_track_publication.dart
  lib/src/remote_participant.dart
  lib/src/remote_video_track.dart
  lib/src/remote_video_track_publication.dart
  lib/src/room.dart
  lib/src/room_state.dart
  lib/src/track_publication.dart
  lib/src/twilio_exception.dart
  lib/src/video_capturer.dart
  lib/src/video_codecs/video_codec.dart
  lib/src/video_track.dart
  lib/twilio_unofficial_programmable_video.dart
Due: none

#8, #14 Draggable Publisher doesn't rebuild anymore, UI feedback on enabling/disabling audio/video, Implemented native events on the dart side, Added Dart Docs, Extended readme.
  .gitlab-ci.yml
  README.md
  android/src/main/kotlin/unofficial/twilio/flutter/twilio_unofficial_programmable_video/RemoteParticipantListener.kt
  example/android/build.gradle
  example/lib/conference/clipped_video.dart
  example/lib/conference/conference_button_bar.dart
  example/lib/conference/conference_page.dart
  example/lib/conference/draggable_publisher.dart
  example/lib/conference/participant_model.dart
  example/lib/conference/participant_widget.dart
  example/lib/debug.dart
  example/lib/main.dart
  example/lib/models/twilio_list_room_response.dart
  example/lib/shared/widgets/circle_button.dart
  example/lib/shared/widgets/platform_alert_dialog.dart
  example/test/widget_test.dart
  lib/src/local_video_track.dart
  lib/src/parts.dart
  lib/src/programmable_video.dart
  lib/src/remote_participant.dart
  lib/src/room.dart
  pubspec.yaml
Due: unit_test_example

#15 applied health suggestions
  CHANGELOG.md
  lib/src/local_video_track.dart
  lib/src/programmable_video.dart
  lib/src/twilio_exception.dart
  pubspec.yaml
Due: none

#16 - Added animated GIF to show off example app and fixed typo in kotlin error log
  CHANGELOG.md
  README.md
  android/src/main/kotlin/unofficial/twilio/flutter/twilio_unofficial_programmable_video/PluginHandler.kt
  example/README.md
  example/pubspec.lock
  pubspec.yaml
Due: unit_test_example

#17 - Fixed CI/CD tag job to urlencode the version tag and fail on errors. Also fixed a typo from the README.md and include the README.md for dartdoc job which checks for deadlinks.
  .gitlab-ci.yml
  README.md
  example/README.md
  example/pubspec.lock
Due: unit_test_example

#22 - Lazy loading of twilio-node it's own requires
  .gitlab-ci.yml
  example/firebase/functions/package-lock.json
  example/firebase/functions/package.json
  example/firebase/functions/src/rooms/completeRoomBySid.ts
  example/firebase/functions/src/rooms/createRoom.ts
  example/firebase/functions/src/rooms/getRoomBySid.ts
  example/firebase/functions/src/rooms/getRoomByUniqueName.ts
  example/firebase/functions/src/rooms/listRooms.ts
Due: firebase_functions, unit_test_example

#19 Better handling of the permissions. Keep asking for the permissions when they are denied. But when neverAskAgain is returned open the app settings and just return false.
  CHANGELOG.md
  README.md
  example/lib/conference/conference_page.dart
  example/lib/room/join_room_form.dart
  example/lib/shared/widgets/platform_exception_alert_dialog.dart
  lib/src/programmable_video.dart
  pubspec.yaml
Due: unit_test_example

#20 - Added missing step for Firebase setup guide
  example/README.md
Due: unit_test_example

#23 Fixed Android crashes when joining/disconnecting multiple times
  CHANGELOG.md
  android/src/main/kotlin/unofficial/twilio/flutter/twilio_unofficial_programmable_video/ParticipantView.kt
  android/src/main/kotlin/unofficial/twilio/flutter/twilio_unofficial_programmable_video/ParticipantViewFactory.kt
  android/src/main/kotlin/unofficial/twilio/flutter/twilio_unofficial_programmable_video/PluginHandler.kt
  example/pubspec.lock
  pubspec.yaml
Due: unit_test_example

#24 - Enabled some extra analysis rules which pub.dev also uses
  README.md
  analysis_options.yaml
  example/analysis_options.yaml
  lib/src/programmable_video.dart
  lib/src/remote_video_track.dart
Due: unit_test_example

#28 - Bigger buttons to touch
  .idea/codeStyles/Project.xml
  .idea/markdown-navigator-enh.xml
  .idea/markdown-navigator.xml
  example/lib/conference/conference_button_bar.dart
Due: unit_test_example

#31 Added switching speaker phone based on headset plug
  CHANGELOG.md
  android/src/main/kotlin/unofficial/twilio/flutter/twilio_unofficial_programmable_video/BecomingNoisyReceiver.kt
  android/src/main/kotlin/unofficial/twilio/flutter/twilio_unofficial_programmable_video/PluginHandler.kt
  example/lib/conference/conference_page.dart
  example/pubspec.lock
  pubspec.yaml
Due: unit_test_example

Resolve "Only enter the conference page when you are connected to a room"
  example/lib/conference/conference_button_bar.dart
  example/lib/conference/conference_page.dart
  example/lib/conference/conference_room.dart
  example/lib/conference/draggable_publisher.dart
  example/lib/conference/participant_widget.dart
  example/lib/room/join_room_form.dart
  example/lib/room/room_bloc.dart
  example/lib/shared/widgets/circle_button.dart
  example/pubspec.lock
  example/pubspec.yaml
Due: unit_test_example

Implemented the full functionality for iOS(matching the android functionality), and added few CI/CD jobs to lint the new code.
  .gitlab-ci.yml
  CHANGELOG.md
  README.md
  android/src/main/kotlin/unofficial/twilio/flutter/twilio_unofficial_programmable_video/PluginHandler.kt
  android/src/main/kotlin/unofficial/twilio/flutter/twilio_unofficial_programmable_video/RemoteParticipantListener.kt
  android/src/main/kotlin/unofficial/twilio/flutter/twilio_unofficial_programmable_video/RoomListener.kt
  android/src/main/kotlin/unofficial/twilio/flutter/twilio_unofficial_programmable_video/TwilioUnofficialProgrammableVideoPlugin.kt
  example/ios/.swiftlint.yml
  example/ios/Flutter/AppFrameworkInfo.plist
  example/ios/Flutter/Debug.xcconfig
  example/ios/Flutter/Release.xcconfig
  example/ios/Podfile
  example/ios/Podfile.lock
  example/ios/Runner.xcodeproj/project.pbxproj
  example/ios/Runner.xcworkspace/contents.xcworkspacedata
  example/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  example/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  example/ios/Runner/Info.plist
  example/pubspec.lock
  ios/.swiftlint.yml
  ios/Classes/BaseListener.swift
  ios/Classes/ParticipantView.swift
  ios/Classes/ParticipantViewFactory.swift
  ios/Classes/PluginHandler.swift
  ios/Classes/RemoteParticipantListener.swift
  ios/Classes/RoomListener.swift
  ios/Classes/SwiftTwilioUnofficialProgrammableVideoPlugin.swift
  ios/twilio_unofficial_programmable_video.podspec
  lib/src/camera_capturer.dart
  lib/src/local_video_track.dart
  lib/src/parts.dart
  lib/src/programmable_video.dart
  lib/src/remote_video_track.dart
  pubspec.yaml
Due: unit_test_example

#32 Route audio through headset speakers when they are connected and/or get connected
  CHANGELOG.md
  README.md
  android/src/main/kotlin/unofficial/twilio/flutter/twilio_unofficial_programmable_video/BecomingNoisyReceiver.kt
  android/src/main/kotlin/unofficial/twilio/flutter/twilio_unofficial_programmable_video/PluginHandler.kt
  example/android/app/src/main/AndroidManifest.xml
Due: unit_test_example

Implemented DataTrack API for Android and made events more specific
  .gitlab-ci.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  android/src/main/kotlin/unofficial/twilio/flutter/twilio_unofficial_programmable_video/LocalParticipantListener.kt
  android/src/main/kotlin/unofficial/twilio/flutter/twilio_unofficial_programmable_video/PluginHandler.kt
  android/src/main/kotlin/unofficial/twilio/flutter/twilio_unofficial_programmable_video/RemoteDataTrackListener.kt
  android/src/main/kotlin/unofficial/twilio/flutter/twilio_unofficial_programmable_video/RemoteParticipantListener.kt
  android/src/main/kotlin/unofficial/twilio/flutter/twilio_unofficial_programmable_video/RoomListener.kt
  android/src/main/kotlin/unofficial/twilio/flutter/twilio_unofficial_programmable_video/TwilioUnofficialProgrammableVideoPlugin.kt
  example/lib/conference/conference_room.dart
  lib/src/audio_track.dart
  lib/src/camera_capturer.dart
  lib/src/connect_options.dart
  lib/src/data_track.dart
  lib/src/data_track_options.dart
  lib/src/data_track_publication.dart
  lib/src/events/local_participant_events.dart
  lib/src/events/remote_data_track_events.dart
  lib/src/events/remote_participant_events.dart
  lib/src/events/room_events.dart
  lib/src/local_audio_track.dart
  lib/src/local_audio_track_publication.dart
  lib/src/local_data_track.dart
  lib/src/local_data_track_publication.dart
  lib/src/local_participant.dart
  lib/src/local_video_track.dart
  lib/src/local_video_track_publication.dart
  lib/src/parts.dart
  lib/src/programmable_video.dart
  lib/src/remote_audio_track.dart
  lib/src/remote_audio_track_publication.dart
  lib/src/remote_data_track.dart
  lib/src/remote_data_track_publication.dart
  lib/src/remote_participant.dart
  lib/src/remote_video_track.dart
  lib/src/remote_video_track_publication.dart
  lib/src/room.dart
  lib/src/track.dart
  lib/src/video_track.dart
Due: unit_test_example

#42 - Adjusted some test to follow Twilio OSS law
  CHANGELOG.md
  README.md
  example/pubspec.lock
  pubspec.yaml
Due: unit_test_example

#43 Added workaround for build failure due to a bug in the Twilio SDK for Android, Upgraded Twilio SDK for Android, Upgraded Android Studio Gradle plugin
  CHANGELOG.md
  README.md
  android/build.gradle
  example/README.md
  example/android/app/src/main/res/values/attrs.xml
  example/android/build.gradle
  example/android/gradle/wrapper/gradle-wrapper.properties
Due: unit_test_example

#37 Making sure the Draggable publisher and the ConferenceButtonBar do not fall below the notches on iPhone X, Also do not throw an error on non Bluetooth enabled devices.
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/BecomingNoisyReceiver.kt
  example/README.md
  example/lib/conference/conference_button_bar.dart
  example/lib/conference/conference_page.dart
  example/lib/conference/draggable_publisher.dart
Due: unit_test_example

38-bring-connecting-to-room-back-to-the-page-that-is-responsible-for-connecting-to-the-room
  .idea/codeStyles/Project.xml
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/lib/conference/conference_page.dart
  example/lib/room/join_room_form.dart
  example/lib/room/room_bloc.dart
  example/lib/shared/widgets/button_to_progress.dart
Due: unit_test_example

#40 Implement Network Quality API and all available events
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  android/build.gradle
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/LocalParticipantListener.kt
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/RemoteParticipantListener.kt
  example/android/build.gradle
  example/lib/conference/conference_room.dart
  example/lib/conference/network_quality_indicator.dart
  example/lib/conference/participant_widget.dart
  lib/src/connect_options.dart
  lib/src/events/local_participant_events.dart
  lib/src/events/participant_events.dart
  lib/src/events/remote_participant_events.dart
  lib/src/local_participant.dart
  lib/src/network_quality_configuration.dart
  lib/src/network_quality_verbosity.dart
  lib/src/participant.dart
  lib/src/parts.dart
  lib/src/remote_participant.dart
  pubspec.yaml
Due: unit_test_example

#54 - Update twilio node library to original package again since our change has been added to the release 3.4.0
  example/firebase/functions/package-lock.json
  example/firebase/functions/package.json
Due: firebase_functions, unit_test_example

#58 - Upgraded permission_handler to latest version
  CHANGELOG.md
  example/pubspec.lock
  lib/src/programmable_video.dart
  pubspec.lock
  pubspec.yaml
Due: unit_test_example

#30 Initial push
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/LocalParticipantListener.kt
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/RemoteDataTrackListener.kt
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/RemoteParticipantListener.kt
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/RoomListener.kt
  ios/Classes/LocalParticipantListener.swift
  ios/Classes/PluginHandler.swift
  ios/Classes/RemoteDataTrackListener.swift
  ios/Classes/RemoteParticipantListener.swift
  ios/Classes/RoomListener.swift
  ios/Classes/SwiftTwilioProgrammableVideoPlugin.swift
Due: none

#30 Small fixes
  ios/Classes/RemoteParticipantListener.swift
  ios/Classes/RoomListener.swift
Due: none

#30 Small fixes
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/RoomListener.kt
  ios/Classes/LocalParticipantListener.swift
  ios/Classes/RemoteParticipantListener.swift
Due: none

#30 Small fixes
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/RemoteParticipantListener.kt
  ios/Classes/PluginHandler.swift
  ios/Classes/RemoteParticipantListener.swift
  ios/Classes/SwiftTwilioProgrammableVideoPlugin.swift
Due: none

#35 Added Region enums for both `ConnectOptions.region` and `Room.mediaRegion` instead of string values
  CHANGELOG.md
  README.md
  example/lib/models/twilio_enums.dart
  example/lib/models/twilio_room_request.dart
  example/lib/models/twilio_room_response.dart
  example/pubspec.lock
  lib/src/connect_options.dart
  lib/src/parts.dart
  lib/src/region.dart
  lib/src/room.dart
  pubspec.yaml
Due: unit_test_example

#35 Added Region enums for both `ConnectOptions.region` and `Room.mediaRegion` instead of string values
  example/pubspec.lock
  pubspec.lock
  pubspec.yaml
Due: unit_test_example

start building out getSpeakerPhoneOn method for iOS side
  example/ios/Podfile.lock
  example/ios/Runner.xcodeproj/project.pbxproj
  example/pubspec.lock
  ios/Classes/PluginHandler.swift
  lib/src/programmable_video.dart
Due: unit_test_example

return actual result of getSpeakerphoneOn rather than false
  lib/src/programmable_video.dart
Due: none

return actual result of getSpeakerphoneOn rather than false
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  ios/Classes/PluginHandler.swift
Due: none

#35 Added Region enums for both `ConnectOptions.region` and `Room.mediaRegion` instead of string values
  CHANGELOG.md
  README.md
  example/lib/models/twilio_enums.dart
  example/lib/models/twilio_room_request.dart
  example/lib/models/twilio_room_response.dart
  example/pubspec.lock
  lib/src/connect_options.dart
  lib/src/parts.dart
  lib/src/region.dart
  lib/src/room.dart
  pubspec.lock
  pubspec.yaml
Due: unit_test_example

#59 Implemented the `getSpeakerphoneOn`.
  CHANGELOG.md
  README.md
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  example/android/app/src/main/kotlin/twilio/flutter/programmable_video_example/MainActivity.kt
  example/ios/Podfile.lock
  example/ios/Runner.xcodeproj/project.pbxproj
  example/pubspec.lock
  ios/Classes/PluginHandler.swift
  lib/src/programmable_video.dart
  pubspec.lock
  pubspec.yaml
Due: unit_test_example

#60 Added support for the Dominant Speaker events
  CHANGELOG.md
  CONTRIBUTING.md
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/RoomListener.kt
  example/lib/conference/conference_room.dart
  example/lib/conference/participant_widget.dart
  example/pubspec.lock
  ios/Classes/PluginHandler.swift
  ios/Classes/RoomListener.swift
  lib/src/connect_options.dart
  lib/src/events/room_events.dart
  lib/src/room.dart
  pubspec.lock
  pubspec.yaml
Due: unit_test_example
