Repository happy-co/programmable-video: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dartdoc_programmable_video, dartdoc_platform_interface, firebase_functions_programmable_video, flutter_analyze_programmable_video, flutter_analyze_platform_interface, kotlin_analyze_programmable_video, pod_lint_programmable_video, swift_analyze_programmable_video, unit_test, dry-run_programmable_video, dry-run_platform_interface, tag_programmable_video, tag_platform_interface

dartdoc_programmable_video:
  stage: lint
  script:
  - cd programmable_video
  - flutter pub get
  - dartdoc --no-auto-include-dependencies --quiet

dartdoc_platform_interface:
  stage: lint
  script:
  - cd programmable_video_platform_interface
  - flutter pub get
  - dartdoc --no-auto-include-dependencies --quiet

firebase_functions_programmable_video:
  image: node:8.15.0-alpine
  stage: lint
  script:
  - cd programmable_video/example/firebase/functions || exit 1
  - apk add --update git
  - npm i
  - npm run lint

flutter_analyze_programmable_video:
  stage: lint
  script:
  - cd programmable_video/example || exit 1
  - flutter pub get
  - cd .. || exit 1
  - flutter analyze --pub
  - flutter format -l 240 -n . --set-exit-if-changed

flutter_analyze_platform_interface:
  stage: lint
  script:
  - cd programmable_video_platform_interface
  - flutter analyze --pub
  - flutter format -l 240 -n . --set-exit-if-changed

kotlin_analyze_programmable_video:
  image: kkopper/ktlint:0.36.0
  stage: lint
  script:
  - cd programmable_video/android || exit 1
  - ktlint

pod_lint_programmable_video:
  image: ruby:2.7-slim-buster
  stage: lint
  script:
  - cd programmable_video/ios || exit 1
  - apt-get update && apt-get install -y git curl unzip
  - gem install cocoapods -v 1.8.4
  - adduser --disabled-password --gecos "" cocoapods
  - export RUBYOPT='-W0'
  ...

swift_analyze_programmable_video:
  image: registry.gitlab.com/twilio-flutter/docker-swiftlint/docker-swiftlint:0.39.1
  stage: lint
  script:
  - cd programmable_video/ios || exit 1
  - swiftlint --strict

unit_test:
  stage: test
  script:
  - cd programmable_video || exit 1
  - flutter test --coverage --pub test
  - cd ../programmable_video_platform_interface || exit 1
  - flutter test --coverage --pub test
  - cd ../ || exit 1
  - sed -i 's/SF:/SF:programmable_video\//g' programmable_video/coverage/lcov.info
  ...

dry-run_programmable_video:
  stage: publish
  script:
  - cd programmable_video
  - flutter pub get
  - sudo add-apt-repository ppa:rmescandon/yq -y
  - sudo apt update
  - sudo apt install yq -y
  ...

dry-run_platform_interface:
  stage: publish
  script:
  - cd programmable_video_platform_interface
  - flutter pub get
  - flutter pub publish --dry-run

tag_programmable_video:
  image: curlimages/curl
  stage: publish
  script:
  ...

tag_platform_interface:
  image: curlimages/curl
  stage: publish
  script:
  ...

154 - cleanup TODO
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
Due: kotlin_analyze_programmable_video, dry-run_programmable_video, tag_programmable_video

154 - cleanup a couple of obsolete comments, disable a couple of debug log statements that can flood the console, add a couple of comments
  programmable_video/ios/Classes/AVAudioEngineDevice.swift
  programmable_video/lib/src/programmable_video.dart
Due: dartdoc_programmable_video, flutter_analyze_programmable_video, swift_analyze_programmable_video, unit_test, dry-run_programmable_video, tag_programmable_video

154 - update example based on deprecations in latest release of flutter stable
  programmable_video/example/lib/conference/conference_page.dart
  programmable_video/example/lib/main.dart
  programmable_video/example/lib/room/join_room_form.dart
  programmable_video/example/pubspec.lock
  programmable_video/pubspec.lock
Due: flutter_analyze_programmable_video, dry-run_programmable_video, tag_programmable_video

154 - use specific wakelock and wakelock platform interface packages in the example to mitigate crash introduced in latest versions of that plugin
  programmable_video/example/pubspec.lock
  programmable_video/example/pubspec.yaml
Due: dry-run_programmable_video, tag_programmable_video

154 - delete pubspec.lock
  programmable_video/example/pubspec.lock
  programmable_video/pubspec.lock
  programmable_video_platform_interface/pubspec.lock
Due: dry-run_programmable_video, dry-run_platform_interface, tag_programmable_video, tag_platform_interface

154 - .gitignore pubspec.lock
  .gitignore
  programmable_video/.gitignore
  programmable_video/example/.gitignore
  programmable_video_platform_interface/.gitignore
Due: dry-run_programmable_video, dry-run_platform_interface, tag_programmable_video, tag_platform_interface

Setting up for a prerelease
  .gitlab-ci.yml
Due: dartdoc_programmable_video, dartdoc_platform_interface, firebase_functions_programmable_video, flutter_analyze_programmable_video, flutter_analyze_platform_interface, kotlin_analyze_programmable_video, pod_lint_programmable_video, swift_analyze_programmable_video, unit_test, dry-run_programmable_video, dry-run_platform_interface, tag_programmable_video, tag_platform_interface

Fix
  .gitlab-ci.yml
  programmable_video/CHANGELOG.md
  programmable_video_platform_interface/CHANGELOG.md
Due: dartdoc_programmable_video, dartdoc_platform_interface, firebase_functions_programmable_video, flutter_analyze_programmable_video, flutter_analyze_platform_interface, kotlin_analyze_programmable_video, pod_lint_programmable_video, swift_analyze_programmable_video, unit_test, dry-run_programmable_video, dry-run_platform_interface, tag_programmable_video, tag_platform_interface

Fixing for release
  programmable_video_web/CHANGELOG.md
  programmable_video_web/lib/src/programmable_video_web.dart
  programmable_video_web/pubspec.yaml
Due: none

154 - add separate debug logging flag for audio
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/AudioNotificationListener.kt
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/TwilioProgrammableVideoPlugin.kt
  programmable_video/ios/Classes/AVAudioEngineDevice.swift
  programmable_video/ios/Classes/AudioNotificationListener.swift
  programmable_video/ios/Classes/PluginHandler.swift
  programmable_video/ios/Classes/SwiftTwilioProgrammableVideoPlugin.swift
  programmable_video/lib/src/programmable_video.dart
  programmable_video_platform_interface/lib/src/method_channel_programmable_video.dart
  programmable_video_platform_interface/lib/src/programmable_video_platform_interface.dart
Due: dartdoc_programmable_video, dartdoc_platform_interface, flutter_analyze_programmable_video, flutter_analyze_platform_interface, kotlin_analyze_programmable_video, swift_analyze_programmable_video, unit_test, dry-run_programmable_video, dry-run_platform_interface, tag_programmable_video, tag_platform_interface

Added web as supported platform
  programmable_video/CHANGELOG.md
  programmable_video/pubspec.yaml
  programmable_video_platform_interface/CHANGELOG.md
Due: dry-run_programmable_video, dry-run_platform_interface, tag_programmable_video, tag_platform_interface

Apply 2 suggestion(s) to 1 file(s)
  programmable_video_platform_interface/lib/src/programmable_video_platform_interface.dart
Due: dartdoc_platform_interface, flutter_analyze_platform_interface, unit_test, dry-run_platform_interface, tag_platform_interface

154 - minor refactor to ordering of `_parseAudioNotificationEvent`
  programmable_video_platform_interface/lib/src/method_channel_programmable_video.dart
Due: dartdoc_platform_interface, flutter_analyze_platform_interface, unit_test, dry-run_platform_interface, tag_platform_interface

154 - update log statements
  programmable_video/ios/Classes/AVAudioPlayerNodeManager.swift
Due: swift_analyze_programmable_video, dry-run_programmable_video, tag_programmable_video

154 - rename SkipAble events to Skippable events, fix some tests
  programmable_video/lib/src/local_participant.dart
  programmable_video/lib/src/programmable_video.dart
  programmable_video/lib/src/remote_participant.dart
  programmable_video/lib/src/room.dart
  programmable_video/test/mock_platform_interface.dart
  programmable_video_platform_interface/lib/src/method_channel_programmable_video.dart
  programmable_video_platform_interface/lib/src/models/audio_notification_event.dart
  programmable_video_platform_interface/lib/src/models/capturers/camera_event.dart
  programmable_video_platform_interface/lib/src/models/local_participant/local_participant_event.dart
  programmable_video_platform_interface/lib/src/models/remote_data_track_event.dart
  programmable_video_platform_interface/lib/src/models/remote_participant/remote_participant_event.dart
  programmable_video_platform_interface/lib/src/models/room/room_event.dart
  programmable_video_platform_interface/test/method_channel_programmable_video_test.dart
  programmable_video_platform_interface/test/models/local_participant/local_participant_event_test.dart
  programmable_video_platform_interface/test/models/remote_data_track_event_test.dart
  programmable_video_platform_interface/test/models/remote_participant/remote_participant_event_test.dart
  programmable_video_platform_interface/test/models/room/room_event_test.dart
Due: dartdoc_programmable_video, dartdoc_platform_interface, flutter_analyze_programmable_video, flutter_analyze_platform_interface, unit_test, dry-run_programmable_video, dry-run_platform_interface, tag_programmable_video, tag_platform_interface

154 - more test fixes
  programmable_video_platform_interface/test/programmable_video_platform_interface_test.dart
Due: unit_test, dry-run_platform_interface, tag_platform_interface

154 - README formatting tweaks
  programmable_video/README.md
Due: dartdoc_programmable_video, dry-run_programmable_video, tag_programmable_video

154 - fix swiftlint violations
  programmable_video/ios/Classes/SwiftTwilioProgrammableVideoPlugin.swift
Due: swift_analyze_programmable_video, dry-run_programmable_video, tag_programmable_video

154 - standardize speakerphone capitalization
  programmable_video/README.md
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  programmable_video/example/lib/conference/conference_room.dart
  programmable_video/ios/Classes/PluginHandler.swift
  programmable_video/lib/src/programmable_video.dart
  programmable_video/test/mock_platform_interface.dart
  programmable_video/test/programmable_video_test.dart
  programmable_video_platform_interface/lib/src/method_channel_programmable_video.dart
  programmable_video_platform_interface/lib/src/programmable_video_platform_interface.dart
Due: dartdoc_programmable_video, dartdoc_platform_interface, flutter_analyze_programmable_video, flutter_analyze_platform_interface, kotlin_analyze_programmable_video, swift_analyze_programmable_video, unit_test, dry-run_programmable_video, dry-run_platform_interface, tag_programmable_video, tag_platform_interface

154 - implement getAudioSettings, flag getSpeakerphoneOn as deprecated
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/AudioNotificationListener.kt
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  programmable_video/ios/Classes/PluginHandler.swift
  programmable_video/lib/src/audio_settings.dart
  programmable_video/lib/src/parts.dart
  programmable_video/lib/src/programmable_video.dart
  programmable_video_platform_interface/lib/src/method_channel_programmable_video.dart
  programmable_video_platform_interface/lib/src/programmable_video_platform_interface.dart
Due: dartdoc_programmable_video, dartdoc_platform_interface, flutter_analyze_programmable_video, flutter_analyze_platform_interface, kotlin_analyze_programmable_video, swift_analyze_programmable_video, unit_test, dry-run_programmable_video, dry-run_platform_interface, tag_programmable_video, tag_platform_interface

154 - flag speakerphone functions as deprecated in platform interface package as well
  programmable_video_platform_interface/lib/src/method_channel_programmable_video.dart
  programmable_video_platform_interface/lib/src/programmable_video_platform_interface.dart
Due: dartdoc_platform_interface, flutter_analyze_platform_interface, unit_test, dry-run_platform_interface, tag_platform_interface

154 - review TODO and remove unneeded code
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/AudioNotificationListener.kt
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
Due: kotlin_analyze_programmable_video, dry-run_programmable_video, tag_programmable_video

154 - standardize host layer logging, fix some warnings
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/LocalParticipantListener.kt
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/ParticipantView.kt
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/ParticipantViewFactory.kt
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/RemoteDataTrackListener.kt
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/RemoteParticipantListener.kt
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/RoomListener.kt
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/VideoCapturerHandler.kt
  programmable_video/ios/Classes/AVAudioEngineDevice.swift
  programmable_video/ios/Classes/AVAudioPlayerNodeManager.swift
  programmable_video/ios/Classes/AudioNotificationListener.swift
  programmable_video/ios/Classes/BaseListener.swift
  programmable_video/ios/Classes/LocalParticipantListener.swift
  programmable_video/ios/Classes/ParticipantViewFactory.swift
  programmable_video/ios/Classes/PluginHandler.swift
  programmable_video/ios/Classes/RemoteDataTrackListener.swift
  programmable_video/ios/Classes/RemoteParticipantListener.swift
  programmable_video/ios/Classes/RoomListener.swift
  programmable_video/ios/Classes/SwiftTwilioProgrammableVideoPlugin.swift
Due: kotlin_analyze_programmable_video, swift_analyze_programmable_video, dry-run_programmable_video, tag_programmable_video

154 - minor tweaks and usage of DispatchQueue to iron out some more race conditions when multiplate modifications to node player state are run concurrently
  programmable_video/ios/Classes/AVAudioEngineDevice.swift
  programmable_video/ios/Classes/AVAudioPlayerNodeManager.swift
Due: swift_analyze_programmable_video, dry-run_programmable_video, tag_programmable_video

154 - update tests to address flutter analyze issue
  programmable_video/test/mock_platform_interface.dart
  programmable_video/test/programmable_video_test.dart
Due: flutter_analyze_programmable_video, unit_test, dry-run_programmable_video, tag_programmable_video

154 - fix swiftlint issues
  programmable_video/ios/Classes/AVAudioEngineDevice.swift
  programmable_video/ios/Classes/AVAudioPlayerNodeManager.swift
  programmable_video/ios/Classes/AudioNotificationListener.swift
  programmable_video/ios/Classes/LocalParticipantListener.swift
  programmable_video/ios/Classes/ParticipantViewFactory.swift
  programmable_video/ios/Classes/PluginHandler.swift
  programmable_video/ios/Classes/RemoteDataTrackListener.swift
  programmable_video/ios/Classes/RemoteParticipantListener.swift
  programmable_video/ios/Classes/RoomListener.swift
Due: swift_analyze_programmable_video, dry-run_programmable_video, tag_programmable_video

154 - update tests
  programmable_video/test/programmable_video_test.dart
  programmable_video_platform_interface/test/method_channel_programmable_video_test.dart
  programmable_video_platform_interface/test/programmable_video_platform_interface_test.dart
Due: flutter_analyze_programmable_video, unit_test, dry-run_programmable_video, dry-run_platform_interface, tag_programmable_video, tag_platform_interface

154 - generate missing param message at host layer
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  programmable_video/ios/Classes/PluginHandler.swift
Due: kotlin_analyze_programmable_video, swift_analyze_programmable_video, dry-run_programmable_video, tag_programmable_video

154 - update wakelock dep in example to latest
  programmable_video/example/pubspec.yaml
Due: dry-run_programmable_video, tag_programmable_video

154 - remove wakelock_platform_interface dep from example
  programmable_video/example/pubspec.yaml
Due: dry-run_programmable_video, tag_programmable_video

179 - normalize cameraId when querying CameraManager on Android
  programmable_video/CHANGELOG.md
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/TwilioProgrammableVideoPlugin.kt
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/VideoCapturerHandler.kt
Due: kotlin_analyze_programmable_video, dry-run_programmable_video, tag_programmable_video

Updated README to reflect the implemented APIs
  programmable_video/README.md
Due: dartdoc_programmable_video, dry-run_programmable_video, tag_programmable_video

184 - check for active calls/ability to enable audio session prior to connect
  programmable_video/CHANGELOG.md
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  programmable_video/ios/Classes/AVAudioEngineDevice.swift
  programmable_video/ios/Classes/AVAudioPlayerNodeManager.swift
  programmable_video/ios/Classes/AudioNotificationListener.swift
  programmable_video/ios/Classes/PluginHandler.swift
  programmable_video/ios/Classes/RoomListener.swift
  programmable_video/lib/src/exceptions/active_call_exception.dart
  programmable_video/lib/src/parts.dart
  programmable_video/lib/src/programmable_video.dart
  programmable_video/lib/src/room.dart
  programmable_video/pubspec.yaml
Due: dartdoc_programmable_video, flutter_analyze_programmable_video, kotlin_analyze_programmable_video, swift_analyze_programmable_video, unit_test, dry-run_programmable_video, tag_programmable_video

Resolve initial merge issues
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  programmable_video/ios/Classes/PluginHandler.swift
  programmable_video/lib/src/exceptions/twilio_exception.dart
  programmable_video/lib/src/local_video_track.dart
Due: dartdoc_programmable_video, flutter_analyze_programmable_video, kotlin_analyze_programmable_video, swift_analyze_programmable_video, unit_test, dry-run_programmable_video, tag_programmable_video

Implement new android take photo.
  programmable_video/android/build.gradle
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/ParticipantViewFactory.kt
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/Photographer.kt
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/VideoCapturerHandler.kt
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/VideoFrameKtx.kt
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/YuvFrame.java
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/YuvUtils.java
  programmable_video/lib/src/camera_capturer.dart
  programmable_video/lib/src/connect_options.dart
  programmable_video/lib/src/local_participant.dart
  programmable_video/lib/src/local_video_track.dart
  programmable_video_platform_interface/lib/src/models/connect_options_model.dart
Due: dartdoc_programmable_video, dartdoc_platform_interface, flutter_analyze_programmable_video, flutter_analyze_platform_interface, kotlin_analyze_programmable_video, unit_test, dry-run_programmable_video, dry-run_platform_interface, tag_programmable_video, tag_platform_interface

Temporarily use specific ref for interface.
  programmable_video/pubspec.yaml
Due: dry-run_programmable_video, tag_programmable_video

Add hitTestBehavior option to LocalVideoTrack.widget.
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/DataOnlyTextureBuffer.kt
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/ParticipantViewFactory.kt
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  programmable_video/lib/src/local_video_track.dart
  programmable_video/lib/src/parts.dart
Due: dartdoc_programmable_video, flutter_analyze_programmable_video, kotlin_analyze_programmable_video, unit_test, dry-run_programmable_video, tag_programmable_video

Path conditions:
  dartdoc_programmable_video: any of: programmable_video/lib/**/*, programmable_video/README.md, .gitlab-ci.yml
  dartdoc_platform_interface: any of: programmable_video_platform_interface/lib/**/*, programmable_video_platform_interface/README.md, .gitlab-ci.yml
  firebase_functions_programmable_video: any of: programmable_video/example/firebase/functions/**/*, .gitlab-ci.yml
  flutter_analyze_programmable_video: any of: programmable_video/lib/**/*.dart, programmable_video/test/**/*.dart, programmable_video/example/lib/**/*.dart, programmable_video/example/test/**/*.dart, .gitlab-ci.yml
  flutter_analyze_platform_interface: any of: programmable_video_platform_interface/lib/**/*.dart, .gitlab-ci.yml
  kotlin_analyze_programmable_video: any of: programmable_video/android/**/*.kt, .gitlab-ci.yml
  pod_lint_programmable_video: any of: programmable_video/ios/twilio_programmable_video.podspec, .gitlab-ci.yml
  swift_analyze_programmable_video: any of: programmable_video/ios/**/*.swift, .gitlab-ci.yml
  unit_test: any of: programmable_video/lib/**/*, programmable_video/test/**/*, programmable_video_platform_interface/lib/**/*, programmable_video_platform_interface/test/**/*, .gitlab-ci.yml
  dry-run_programmable_video: any of: programmable_video/**/*, .gitlab-ci.yml
  dry-run_platform_interface: any of: programmable_video_platform_interface/**/*, .gitlab-ci.yml
  tag_programmable_video: any of: programmable_video/**/*, .gitlab-ci.yml
  tag_platform_interface: any of: programmable_video_platform_interface/**/*, .gitlab-ci.yml
