Repository happy-co/programmable-video: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dartdoc_programmable_video, dartdoc_platform_interface, firebase_functions_programmable_video, flutter_analyze_programmable_video, flutter_analyze_platform_interface, kotlin_analyze_programmable_video, pod_lint_programmable_video, swift_analyze_programmable_video, unit_test, dry-run_programmable_video, dry-run_platform_interface, tag_programmable_video, tag_platform_interface

dartdoc_programmable_video:
  stage: lint
  script:
  - cd programmable_video
  - flutter pub get
  - dartdoc --no-auto-include-dependencies --quiet

dartdoc_platform_interface:
  stage: lint
  script:
  - cd programmable_video_platform_interface
  - flutter pub get
  - dartdoc --no-auto-include-dependencies --quiet

firebase_functions_programmable_video:
  image: node:8.15.0-alpine
  stage: lint
  script:
  - cd programmable_video/example/firebase/functions || exit 1
  - apk add --update git
  - npm i
  - npm run lint

flutter_analyze_programmable_video:
  stage: lint
  script:
  - cd programmable_video/example || exit 1
  - flutter pub get
  - cd .. || exit 1
  - flutter analyze --pub
  - flutter format -l 240 -n . --set-exit-if-changed

flutter_analyze_platform_interface:
  stage: lint
  script:
  - cd programmable_video_platform_interface
  - flutter analyze --pub
  - flutter format -l 240 -n . --set-exit-if-changed

kotlin_analyze_programmable_video:
  image: kkopper/ktlint:0.36.0
  stage: lint
  script:
  - cd programmable_video/android || exit 1
  - ktlint

pod_lint_programmable_video:
  image: ruby:2.7-slim-buster
  stage: lint
  script:
  - cd programmable_video/ios || exit 1
  - apt-get update && apt-get install -y git curl unzip
  - gem install cocoapods -v 1.8.4
  - adduser --disabled-password --gecos "" cocoapods
  - export RUBYOPT='-W0'
  ...

swift_analyze_programmable_video:
  image: registry.gitlab.com/twilio-flutter/docker-swiftlint/docker-swiftlint:0.39.1
  stage: lint
  script:
  - cd programmable_video/ios || exit 1
  - swiftlint --strict

unit_test:
  stage: test
  script:
  - cd programmable_video || exit 1
  - flutter test --coverage --pub test
  - cd ../programmable_video_platform_interface || exit 1
  - flutter test --coverage --pub test
  - cd ../ || exit 1
  - sed -i 's/SF:/SF:programmable_video\//g' programmable_video/coverage/lcov.info
  ...

dry-run_programmable_video:
  stage: publish
  script:
  - cd programmable_video
  - flutter pub get
  - sudo add-apt-repository ppa:rmescandon/yq -y
  - sudo apt update
  - sudo apt install yq -y
  ...

dry-run_platform_interface:
  stage: publish
  script:
  - cd programmable_video_platform_interface
  - flutter pub get
  - flutter pub publish --dry-run

tag_programmable_video:
  image: curlimages/curl
  stage: publish
  script:
  ...

tag_platform_interface:
  image: curlimages/curl
  stage: publish
  script:
  ...

158 - coalesce to false for hasTorch checks on Android to ensure a non-null result
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/VideoCapturerHandler.kt
Due: kotlin_analyze_programmable_video, dry-run_programmable_video, tag_programmable_video

158 - update version and CHANGELOG.md
  programmable_video/CHANGELOG.md
  programmable_video/example/pubspec.lock
  programmable_video/pubspec.lock
  programmable_video/pubspec.yaml
Due: dry-run_programmable_video, tag_programmable_video

Resolve "`!` used on CameraSource enum which does not include `null`"
  programmable_video/CHANGELOG.md
  programmable_video/example/pubspec.lock
  programmable_video/lib/src/camera_capturer.dart
  programmable_video/lib/src/local_video_track.dart
  programmable_video/pubspec.lock
  programmable_video/pubspec.yaml
  programmable_video_platform_interface/CHANGELOG.md
  programmable_video_platform_interface/lib/src/models/capturers/camera_capturer_model.dart
  programmable_video_platform_interface/lib/src/models/tracks/local_video_track_model.dart
  programmable_video_platform_interface/pubspec.lock
  programmable_video_platform_interface/pubspec.yaml
Due: dartdoc_programmable_video, dartdoc_platform_interface, flutter_analyze_programmable_video, flutter_analyze_platform_interface, unit_test, dry-run_programmable_video, dry-run_platform_interface, tag_programmable_video, tag_platform_interface

Updated yq cli
  .gitlab-ci.yml
  programmable_video/ios/twilio_programmable_video.podspec
Due: dartdoc_programmable_video, dartdoc_platform_interface, firebase_functions_programmable_video, flutter_analyze_programmable_video, flutter_analyze_platform_interface, kotlin_analyze_programmable_video, pod_lint_programmable_video, swift_analyze_programmable_video, unit_test, dry-run_programmable_video, dry-run_platform_interface, tag_programmable_video, tag_platform_interface

Made `exception` property of ConnectFailure, Reconnecting and Disconnected events nullable
  programmable_video/CHANGELOG.md
  programmable_video/lib/src/events/room_events.dart
  programmable_video/lib/src/room.dart
  programmable_video/pubspec.yaml
  programmable_video/test/room_test.dart
  programmable_video_platform_interface/CHANGELOG.md
  programmable_video_platform_interface/lib/src/method_channel_programmable_video.dart
  programmable_video_platform_interface/lib/src/models/room/room_event.dart
  programmable_video_platform_interface/pubspec.yaml
Due: dartdoc_programmable_video, dartdoc_platform_interface, flutter_analyze_programmable_video, flutter_analyze_platform_interface, unit_test, dry-run_programmable_video, dry-run_platform_interface, tag_programmable_video, tag_platform_interface

Fix analysis issues
  programmable_video/example/lib/conference/conference_room.dart
  programmable_video/pubspec.lock
  programmable_video_platform_interface/lib/src/method_channel_programmable_video.dart
Due: dartdoc_platform_interface, flutter_analyze_programmable_video, flutter_analyze_platform_interface, unit_test, dry-run_programmable_video, dry-run_platform_interface, tag_programmable_video, tag_platform_interface

update the version number a bit further since this is technically a breaking change
  programmable_video/CHANGELOG.md
  programmable_video/example/pubspec.lock
  programmable_video/pubspec.lock
  programmable_video/pubspec.yaml
  programmable_video_platform_interface/CHANGELOG.md
  programmable_video_platform_interface/pubspec.yaml
Due: dry-run_programmable_video, dry-run_platform_interface, tag_programmable_video, tag_platform_interface

flutter format
  programmable_video_platform_interface/lib/src/method_channel_programmable_video.dart
Due: dartdoc_platform_interface, flutter_analyze_platform_interface, unit_test, dry-run_platform_interface, tag_platform_interface

further update the versioning
  programmable_video/CHANGELOG.md
  programmable_video/example/pubspec.lock
  programmable_video/pubspec.yaml
  programmable_video_platform_interface/CHANGELOG.md
  programmable_video_platform_interface/pubspec.yaml
Due: dry-run_programmable_video, dry-run_platform_interface, tag_programmable_video, tag_platform_interface

remove fail flag from `curl` requests in tag jobs
  .gitlab-ci.yml
Due: dartdoc_programmable_video, dartdoc_platform_interface, firebase_functions_programmable_video, flutter_analyze_programmable_video, flutter_analyze_platform_interface, kotlin_analyze_programmable_video, pod_lint_programmable_video, swift_analyze_programmable_video, unit_test, dry-run_programmable_video, dry-run_platform_interface, tag_programmable_video, tag_platform_interface

restore fail flag to `curl` requests in tag jobs, update param name
  .gitlab-ci.yml
Due: dartdoc_programmable_video, dartdoc_platform_interface, firebase_functions_programmable_video, flutter_analyze_programmable_video, flutter_analyze_platform_interface, kotlin_analyze_programmable_video, pod_lint_programmable_video, swift_analyze_programmable_video, unit_test, dry-run_programmable_video, dry-run_platform_interface, tag_programmable_video, tag_platform_interface

154 - improvements to audio setting management in iOS
  programmable_video/ios/Classes/AVAudioEngineDevice.swift
  programmable_video/ios/Classes/AVAudioPlayerNodeManager.swift
  programmable_video/ios/Classes/AudioNotificationListener.swift
  programmable_video/ios/Classes/PluginHandler.swift
  programmable_video/ios/Classes/SwiftTwilioProgrammableVideoPlugin.swift
Due: swift_analyze_programmable_video, dry-run_programmable_video, tag_programmable_video

fix typo
  programmable_video/lib/src/programmable_video.dart
Due: dartdoc_programmable_video, flutter_analyze_programmable_video, unit_test, dry-run_programmable_video, tag_programmable_video

pubspec vesioning
  programmable_video/example/pubspec.lock
  programmable_video/pubspec.lock
  programmable_video/pubspec.yaml
  programmable_video_platform_interface/pubspec.yaml
Due: dry-run_programmable_video, dry-run_platform_interface, tag_programmable_video, tag_platform_interface

pubspec vesioning, changlog md
  programmable_video/CHANGELOG.md
  programmable_video/example/pubspec.lock
  programmable_video/pubspec.lock
  programmable_video/pubspec.yaml
  programmable_video_platform_interface/CHANGELOG.md
  programmable_video_platform_interface/pubspec.yaml
Due: dry-run_programmable_video, dry-run_platform_interface, tag_programmable_video, tag_platform_interface

remove pubspec vesioning, changlog md for interface
  programmable_video/example/pubspec.lock
  programmable_video/pubspec.lock
  programmable_video_platform_interface/pubspec.yaml
Due: dry-run_programmable_video, dry-run_platform_interface, tag_programmable_video, tag_platform_interface

remove pubspec vesioning, changlog md for interface
  programmable_video_platform_interface/CHANGELOG.md
Due: dry-run_platform_interface, tag_platform_interface

Initial capital, end sentence with period.
  programmable_video/CHANGELOG.md
Due: dry-run_programmable_video, tag_programmable_video

Fix typo in the changelog note about a typo.
  programmable_video/CHANGELOG.md
Due: dry-run_programmable_video, tag_programmable_video

Fixed remote video key in the getStats method
  programmable_video/CHANGELOG.md
  programmable_video/example/pubspec.lock
  programmable_video/lib/src/programmable_video.dart
  programmable_video/pubspec.yaml
Due: dartdoc_programmable_video, flutter_analyze_programmable_video, unit_test, dry-run_programmable_video, tag_programmable_video

154 - add audioPlayerEventListener that can be provided to an external plugin so that we can update audio settings/focus/bluetooth state intelligently
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/AudioNotificationListener.kt
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/BecomingNoisyReceiver.kt
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/TwilioProgrammableVideoPlugin.kt
Due: kotlin_analyze_programmable_video, dry-run_programmable_video, tag_programmable_video

154 - fix logic relating to managing android audio mode - ensure we setBluetoothSco off if we are disconnecting, and no audio players are active
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
Due: kotlin_analyze_programmable_video, dry-run_programmable_video, tag_programmable_video

154 - fix audio options for scenario where bluetooth is preferred, and speakerphone is disabled
  programmable_video/ios/Classes/PluginHandler.swift
Due: swift_analyze_programmable_video, dry-run_programmable_video, tag_programmable_video

154 - improve: - edge case handling - format change handling - media service reset - usage of queues to ensure execution order - audio player node state management
  programmable_video/ios/Classes/AVAudioEngineDevice.swift
  programmable_video/ios/Classes/AVAudioPlayerNodeManager.swift
  programmable_video/ios/Classes/PluginHandler.swift
Due: swift_analyze_programmable_video, dry-run_programmable_video, tag_programmable_video

154 - applyAudioSettings on bluetooth service disconnect
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/AudioNotificationListener.kt
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
Due: kotlin_analyze_programmable_video, dry-run_programmable_video, tag_programmable_video

154 - standardize audio notification events across android and ios
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/AudioNotificationListener.kt
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/AudioSettings.kt
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/BecomingNoisyReceiver.kt
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/TwilioProgrammableVideoPlugin.kt
  programmable_video/ios/Classes/AudioNotificationListener.swift
  programmable_video/ios/Classes/AudioSettings.swift
  programmable_video/ios/Classes/PluginHandler.swift
  programmable_video/ios/Classes/SwiftTwilioProgrammableVideoPlugin.swift
  programmable_video/lib/src/programmable_video.dart
  programmable_video/lib/src/room.dart
  programmable_video_platform_interface/lib/src/method_channel_programmable_video.dart
  programmable_video_platform_interface/lib/src/models/audio_notification_event.dart
  programmable_video_platform_interface/lib/src/programmable_video_platform_interface.dart
Due: dartdoc_programmable_video, dartdoc_platform_interface, flutter_analyze_programmable_video, flutter_analyze_platform_interface, kotlin_analyze_programmable_video, swift_analyze_programmable_video, unit_test, dry-run_programmable_video, dry-run_platform_interface, tag_programmable_video, tag_platform_interface

154 - fixes for a couple of edge cases in iOS implementation
  programmable_video/ios/Classes/AVAudioEngineDevice.swift
  programmable_video/ios/Classes/AVAudioPlayerNodeManager.swift
  programmable_video/ios/Classes/AudioNotificationListener.swift
  programmable_video/ios/Classes/PluginHandler.swift
Due: swift_analyze_programmable_video, dry-run_programmable_video, tag_programmable_video

154 - return result at end of disableAudioSettings
  programmable_video/CHANGELOG.md
  programmable_video/README.md
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  programmable_video/example/android/app/src/main/AndroidManifest.xml
  programmable_video/example/lib/conference/conference_room.dart
  programmable_video/ios/Classes/PluginHandler.swift
  programmable_video/lib/src/programmable_video.dart
  programmable_video/pubspec.yaml
Due: dartdoc_programmable_video, flutter_analyze_programmable_video, kotlin_analyze_programmable_video, swift_analyze_programmable_video, unit_test, dry-run_programmable_video, tag_programmable_video

154 - update platform_interface package version
  programmable_video/example/pubspec.lock
  programmable_video_platform_interface/CHANGELOG.md
  programmable_video_platform_interface/pubspec.yaml
Due: dry-run_programmable_video, dry-run_platform_interface, tag_programmable_video, tag_platform_interface

154 - address flutter analysis issues, update tests
  programmable_video/lib/src/programmable_video.dart
  programmable_video/test/mock_platform_interface.dart
  programmable_video/test/programmable_video_test.dart
Due: dartdoc_programmable_video, flutter_analyze_programmable_video, unit_test, dry-run_programmable_video, tag_programmable_video

154 - address swiftlint issues other than TODOs
  programmable_video/ios/Classes/AVAudioEngineDevice.swift
  programmable_video/ios/Classes/AVAudioPlayerNodeManager.swift
  programmable_video/ios/Classes/AudioNotificationListener.swift
  programmable_video/ios/Classes/AudioSettings.swift
  programmable_video/ios/Classes/PluginHandler.swift
  programmable_video/ios/Classes/SwiftTwilioProgrammableVideoPlugin.swift
Due: swift_analyze_programmable_video, dry-run_programmable_video, tag_programmable_video

Versions bumped
  programmable_video/CHANGELOG.md
  programmable_video/example/pubspec.lock
  programmable_video/example/pubspec.yaml
  programmable_video/pubspec.lock
  programmable_video/pubspec.yaml
  programmable_video_platform_interface/CHANGELOG.md
  programmable_video_platform_interface/pubspec.lock
Due: dry-run_programmable_video, dry-run_platform_interface, tag_programmable_video, tag_platform_interface

Fixed CI/CD
  .gitlab-ci.yml
Due: dartdoc_programmable_video, dartdoc_platform_interface, firebase_functions_programmable_video, flutter_analyze_programmable_video, flutter_analyze_platform_interface, kotlin_analyze_programmable_video, pod_lint_programmable_video, swift_analyze_programmable_video, unit_test, dry-run_programmable_video, dry-run_platform_interface, tag_programmable_video, tag_platform_interface

154 - address TODOs, conditionally set AVAudioSession active/inactive when applying or disabling audio settings if not using AVAudioEngineDevice
  programmable_video/ios/Classes/AVAudioEngineDevice.swift
  programmable_video/ios/Classes/AVAudioPlayerNodeManager.swift
  programmable_video/ios/Classes/AudioNotificationListener.swift
  programmable_video/ios/Classes/PluginHandler.swift
Due: swift_analyze_programmable_video, dry-run_programmable_video, tag_programmable_video

154 - fix flutter analysis and tests for platform_interface package
  programmable_video_platform_interface/lib/src/method_channel_programmable_video.dart
  programmable_video_platform_interface/lib/src/models/audio_notification_event.dart
  programmable_video_platform_interface/test/method_channel_programmable_video_test.dart
Due: dartdoc_platform_interface, flutter_analyze_platform_interface, unit_test, dry-run_platform_interface, tag_platform_interface

154 - flutter format
  programmable_video_platform_interface/lib/src/programmable_video_platform_interface.dart
Due: dartdoc_platform_interface, flutter_analyze_platform_interface, unit_test, dry-run_platform_interface, tag_platform_interface

Update
  .gitlab-ci.yml
  programmable_video_platform_interface/pubspec.yaml
Due: dartdoc_programmable_video, dartdoc_platform_interface, firebase_functions_programmable_video, flutter_analyze_programmable_video, flutter_analyze_platform_interface, kotlin_analyze_programmable_video, pod_lint_programmable_video, swift_analyze_programmable_video, unit_test, dry-run_programmable_video, dry-run_platform_interface, tag_programmable_video, tag_platform_interface

Path conditions:
  dartdoc_programmable_video: any of: programmable_video/lib/**/*, programmable_video/README.md, .gitlab-ci.yml
  dartdoc_platform_interface: any of: programmable_video_platform_interface/lib/**/*, programmable_video_platform_interface/README.md, .gitlab-ci.yml
  firebase_functions_programmable_video: any of: programmable_video/example/firebase/functions/**/*, .gitlab-ci.yml
  flutter_analyze_programmable_video: any of: programmable_video/lib/**/*.dart, programmable_video/test/**/*.dart, programmable_video/example/lib/**/*.dart, programmable_video/example/test/**/*.dart, .gitlab-ci.yml
  flutter_analyze_platform_interface: any of: programmable_video_platform_interface/lib/**/*.dart, .gitlab-ci.yml
  kotlin_analyze_programmable_video: any of: programmable_video/android/**/*.kt, .gitlab-ci.yml
  pod_lint_programmable_video: any of: programmable_video/ios/twilio_programmable_video.podspec, .gitlab-ci.yml
  swift_analyze_programmable_video: any of: programmable_video/ios/**/*.swift, .gitlab-ci.yml
  unit_test: any of: programmable_video/lib/**/*, programmable_video/test/**/*, programmable_video_platform_interface/lib/**/*, programmable_video_platform_interface/test/**/*, .gitlab-ci.yml
  dry-run_programmable_video: any of: programmable_video/**/*, .gitlab-ci.yml
  dry-run_platform_interface: any of: programmable_video_platform_interface/**/*, .gitlab-ci.yml
  tag_programmable_video: any of: programmable_video/**/*, .gitlab-ci.yml
  tag_platform_interface: any of: programmable_video_platform_interface/**/*, .gitlab-ci.yml
