Repository happy-co/programmable-video: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dartdoc_programmable_video, dartdoc_platform_interface, firebase_functions_programmable_video, flutter_analyze_programmable_video, flutter_analyze_platform_interface, kotlin_analyze_programmable_video, pod_lint_programmable_video, swift_analyze_programmable_video, unit_test, dry-run_programmable_video, dry-run_platform_interface, tag_programmable_video, tag_platform_interface

dartdoc_programmable_video:
  stage: lint
  script:
  - cd programmable_video
  - flutter pub get
  - dartdoc --no-auto-include-dependencies --quiet

dartdoc_platform_interface:
  stage: lint
  script:
  - cd programmable_video_platform_interface
  - flutter pub get
  - dartdoc --no-auto-include-dependencies --quiet

firebase_functions_programmable_video:
  image: node:8.15.0-alpine
  stage: lint
  script:
  - cd programmable_video/example/firebase/functions || exit 1
  - apk add --update git
  - npm i
  - npm run lint

flutter_analyze_programmable_video:
  stage: lint
  script:
  - cd programmable_video/example || exit 1
  - flutter pub get
  - cd .. || exit 1
  - flutter analyze --pub
  - flutter format -l 240 -n . --set-exit-if-changed

flutter_analyze_platform_interface:
  stage: lint
  script:
  - cd programmable_video_platform_interface
  - flutter analyze --pub
  - flutter format -l 240 -n . --set-exit-if-changed

kotlin_analyze_programmable_video:
  image: kkopper/ktlint:0.36.0
  stage: lint
  script:
  - cd programmable_video/android || exit 1
  - ktlint

pod_lint_programmable_video:
  image: ruby:2.7-slim-buster
  stage: lint
  script:
  - cd programmable_video/ios || exit 1
  - apt-get update && apt-get install -y git curl unzip
  - gem install cocoapods -v 1.8.4
  - adduser --disabled-password --gecos "" cocoapods
  - export RUBYOPT='-W0'
  ...

swift_analyze_programmable_video:
  image: registry.gitlab.com/twilio-flutter/docker-swiftlint/docker-swiftlint:0.39.1
  stage: lint
  script:
  - cd programmable_video/ios || exit 1
  - swiftlint --strict

unit_test:
  stage: test
  script:
  - cd programmable_video || exit 1
  - flutter test --coverage --pub test
  - cd ../programmable_video_platform_interface || exit 1
  - flutter test --coverage --pub test
  - cd ../ || exit 1
  - sed -i 's/SF:/SF:programmable_video\//g' programmable_video/coverage/lcov.info
  ...

dry-run_programmable_video:
  stage: publish
  script:
  - cd programmable_video
  - flutter pub get
  - sudo add-apt-repository ppa:rmescandon/yq -y
  - sudo apt update
  - sudo apt install yq -y
  - platformInterfaceVersion=$(yq eval '.version' ../programmable_video_platform_interface/pubspec.yaml | sed 's/\+.*$//')
  ...

dry-run_platform_interface:
  stage: publish
  script:
  - cd programmable_video_platform_interface
  - flutter pub get
  - flutter pub publish --dry-run

tag_programmable_video:
  image: curlimages/curl
  stage: publish
  script:
  ...

tag_platform_interface:
  image: curlimages/curl
  stage: publish
  script:
  ...

check RemoteTrackEvent type before casting
  programmable_video/example/lib/conference/conference_room.dart
Due: flutter_analyze_programmable_video, dry-run_programmable_video, tag_programmable_video

Upgraded Twilio iOS SDK version from 4.4. to 4.6
  programmable_video/CHANGELOG.md
  programmable_video/android/build.gradle
  programmable_video/example/ios/Podfile.lock
  programmable_video/ios/twilio_programmable_video.podspec
  programmable_video/pubspec.yaml
Due: pod_lint_programmable_video, dry-run_programmable_video, tag_programmable_video

Set capture resolution back to 720p, and improve takePhoto dart function.
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  programmable_video/ios/Classes/PluginHandler.swift
  programmable_video/lib/src/camera_capturer.dart
Due: dartdoc_programmable_video, flutter_analyze_programmable_video, kotlin_analyze_programmable_video, swift_analyze_programmable_video, unit_test, dry-run_programmable_video, tag_programmable_video

Fixed a null reference exception on an Android Emulator
  programmable_video/CHANGELOG.md
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/AudioNotificationListener.kt
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
Due: kotlin_analyze_programmable_video, dry-run_programmable_video, tag_programmable_video

Use correct reference for interface.
  programmable_video/pubspec.yaml
Due: dry-run_programmable_video, tag_programmable_video

Resolve "#186 - Please update permission_handler version i am unable to run app on android"
  programmable_video/CHANGELOG.md
  programmable_video/README.md
  programmable_video/example/ios/Podfile
  programmable_video/pubspec.yaml
Due: dartdoc_programmable_video, dry-run_programmable_video, tag_programmable_video

Change take photo to jpg quality 80.
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/VideoFrameKtx.kt
  programmable_video/ios/Classes/PluginHandler.swift
  programmable_video/pubspec.yaml
Due: kotlin_analyze_programmable_video, swift_analyze_programmable_video, dry-run_programmable_video, tag_programmable_video

Update permission_handler to version 9.2.0
  programmable_video/example/ios/Podfile
  programmable_video/pubspec.yaml
Due: dry-run_programmable_video, tag_programmable_video

Update permission_handler to version 9.2.0 (#39)
  programmable_video/example/ios/Podfile
  programmable_video/pubspec.yaml
Due: dry-run_programmable_video, tag_programmable_video

Fix issues with Flutter versions greater than 2.12
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/ParticipantViewFactory.kt
  programmable_video/example/android/app/src/main/AndroidManifest.xml
Due: kotlin_analyze_programmable_video, dry-run_programmable_video, tag_programmable_video

Fix issues with Flutter versions greater than 2.12 (#44)
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/ParticipantViewFactory.kt
  programmable_video/example/android/app/src/main/AndroidManifest.xml
Due: kotlin_analyze_programmable_video, dry-run_programmable_video, tag_programmable_video

Update build.gradle
  programmable_video/android/build.gradle
Due: dry-run_programmable_video, tag_programmable_video

Update example build.gradle
  programmable_video/example/android/build.gradle
Due: dry-run_programmable_video, tag_programmable_video

Use MavenCentral in build.gradle (#45)
  programmable_video/android/build.gradle
  programmable_video/example/android/build.gradle
Due: dry-run_programmable_video, tag_programmable_video

Update gradle and kotlin verions
  programmable_video/android/build.gradle
  programmable_video/android/gradle.properties
  programmable_video/android/gradle/wrapper/gradle-wrapper.properties
  programmable_video/example/pubspec.yaml
Due: dry-run_programmable_video, tag_programmable_video

Update gradle and kotlin verions (#50)
  programmable_video/android/build.gradle
  programmable_video/android/gradle.properties
  programmable_video/android/gradle/wrapper/gradle-wrapper.properties
  programmable_video/example/pubspec.yaml
Due: dry-run_programmable_video, tag_programmable_video

Path conditions:
  dartdoc_programmable_video: any of: programmable_video/lib/**/*, programmable_video/README.md, .gitlab-ci.yml
  dartdoc_platform_interface: any of: programmable_video_platform_interface/lib/**/*, programmable_video_platform_interface/README.md, .gitlab-ci.yml
  firebase_functions_programmable_video: any of: programmable_video/example/firebase/functions/**/*, .gitlab-ci.yml
  flutter_analyze_programmable_video: any of: programmable_video/lib/**/*.dart, programmable_video/test/**/*.dart, programmable_video/example/lib/**/*.dart, programmable_video/example/test/**/*.dart, .gitlab-ci.yml
  flutter_analyze_platform_interface: any of: programmable_video_platform_interface/lib/**/*.dart, .gitlab-ci.yml
  kotlin_analyze_programmable_video: any of: programmable_video/android/**/*.kt, .gitlab-ci.yml
  pod_lint_programmable_video: any of: programmable_video/ios/twilio_programmable_video.podspec, .gitlab-ci.yml
  swift_analyze_programmable_video: any of: programmable_video/ios/**/*.swift, .gitlab-ci.yml
  unit_test: any of: programmable_video/lib/**/*, programmable_video/test/**/*, programmable_video_platform_interface/lib/**/*, programmable_video_platform_interface/test/**/*, .gitlab-ci.yml
  dry-run_programmable_video: any of: programmable_video/**/*, .gitlab-ci.yml
  dry-run_platform_interface: any of: programmable_video_platform_interface/**/*, .gitlab-ci.yml
  tag_programmable_video: any of: programmable_video/**/*, .gitlab-ci.yml
  tag_platform_interface: any of: programmable_video_platform_interface/**/*, .gitlab-ci.yml
