Repository happy-co/programmable-video: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dartdoc, firebase_functions, flutter_analyze, kotlin_analyze, pod_lint, swift_analyze, unit_test

Path conditions:
  dartdoc: any of: lib/**/*, README.md
  firebase_functions: any of: example/firebase/functions/**/*
  flutter_analyze: any of: lib/**/*.dart, test/**/*.dart, example/lib/**/*.dart, example/test/**/*.dart
  kotlin_analyze: any of: android/**/*.kt
  pod_lint: any of: ios/twilio_programmable_video.podspec
  swift_analyze: any of: ios/**/*.swift
  unit_test: any of: lib/**/*, example/lib/**/*, test/**/*, example/test/**/*

Add image compression when taking photos
  android/build.gradle
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  example/pubspec.lock
  ios/Classes/PluginHandler.swift
  ios/twilio_programmable_video.podspec
  lib/src/programmable_video.dart
  pubspec.lock
  pubspec.yaml
Due: dartdoc, flutter_analyze, kotlin_analyze, pod_lint, swift_analyze, unit_test

Commit to adjust device resolution to 720p (If the device is able, otherwise go lower than 720p)
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  ios/Classes/PluginHandler.swift
Due: kotlin_analyze, swift_analyze

Add reset video to Android local participant
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  lib/src/local_participant.dart
  lib/src/local_video_track.dart
Due: dartdoc, flutter_analyze, kotlin_analyze, unit_test

Add reset video to iOS local participant
  ios/Classes/AtomicInteger.swift
  ios/Classes/PluginHandler.swift
Due: swift_analyze

Fix logging for iOS frame count method
  ios/Classes/PluginHandler.swift
Due: swift_analyze

Revert back to capturing in 1080p
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  ios/Classes/PluginHandler.swift
Due: kotlin_analyze, swift_analyze

Remove blank space
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
Due: kotlin_analyze

Fixed variable name to be more in line with Swift, also fix missing space in comment.
  ios/Classes/AtomicInteger.swift
  lib/src/programmable_video.dart
Due: dartdoc, flutter_analyze, swift_analyze, unit_test

Fixed spelling mistake in comment.
  lib/src/programmable_video.dart
Due: dartdoc, flutter_analyze, unit_test

Add image compression to photos (#8)
  android/build.gradle
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  example/pubspec.lock
  ios/Classes/AtomicInteger.swift
  ios/Classes/PluginHandler.swift
  ios/twilio_programmable_video.podspec
  lib/src/local_participant.dart
  lib/src/local_video_track.dart
  lib/src/programmable_video.dart
  pubspec.lock
  pubspec.yaml
Due: dartdoc, flutter_analyze, kotlin_analyze, pod_lint, swift_analyze, unit_test

Fix name clash with value in AtomicInteger
  ios/Classes/AtomicInteger.swift
Due: swift_analyze

Change `value` variable to be `storedValue`
  ios/Classes/AtomicInteger.swift
Due: swift_analyze

Fix name clash in atomic integer (#9)
  ios/Classes/AtomicInteger.swift
Due: swift_analyze

Revert image compression
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  ios/Classes/PluginHandler.swift
  lib/src/programmable_video.dart
Due: dartdoc, flutter_analyze, kotlin_analyze, swift_analyze, unit_test

Revert image compression on Android
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
Due: kotlin_analyze

Revert image compression
  ios/Classes/PluginHandler.swift
Due: swift_analyze

Reduce the photo resolution to 720p.
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  ios/Classes/PluginHandler.swift
  lib/src/programmable_video.dart
Due: dartdoc, flutter_analyze, kotlin_analyze, swift_analyze, unit_test

Reduce the photo resolution to 720p. (#11)
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  ios/Classes/PluginHandler.swift
  lib/src/programmable_video.dart
Due: dartdoc, flutter_analyze, kotlin_analyze, swift_analyze, unit_test

Fixed propagating a null model for onDominantSpeakerChanged event
  programmable_video/CHANGELOG.md
  programmable_video/example/pubspec.lock
  programmable_video/ios/Classes/RoomListener.swift
  programmable_video/lib/src/room.dart
  programmable_video/pubspec.lock
  programmable_video/pubspec.yaml
  programmable_video_platform_interface/pubspec.lock
Due: none

Fixed broken pipeline because of missing force unwrapping of an participant object
  programmable_video/ios/Classes/RoomListener.swift
Due: none

Move the takePicture method onto the cameraCapturer channel to allow better logging on Android. (#12)
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  ios/Classes/PluginHandler.swift
  lib/src/camera_capturer.dart
  lib/src/programmable_video.dart
  lib/src/room.dart
Due: dartdoc, flutter_analyze, kotlin_analyze, swift_analyze, unit_test

112 - add get/set playback state of remote audio tracks to dart layer
  programmable_video/lib/src/remote_audio_track.dart
  programmable_video_platform_interface/lib/src/method_channel_programmable_video.dart
  programmable_video_platform_interface/lib/src/programmable_video_platform_interface.dart
Due: none

112 - WIP - initial implementation of get/set playback for remote audio tracks in iOS and Android
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  programmable_video/ios/Classes/PluginHandler.swift
Due: none

#35 Added Region enums for both `ConnectOptions.region` and `Room.mediaRegion` instead of string values
  programmable_video/CHANGELOG.md
  programmable_video/android/build.gradle
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/LocalParticipantListener.kt
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/RoomListener.kt
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/TwilioProgrammableVideoPlugin.kt
  programmable_video/example/ios/Podfile.lock
  programmable_video/example/ios/Runner.xcodeproj/project.pbxproj
  programmable_video/example/lib/conference/conference_button_bar.dart
  programmable_video/example/lib/conference/conference_page.dart
  programmable_video/example/lib/conference/conference_room.dart
  programmable_video/example/pubspec.lock
  programmable_video/ios/Classes/BaseListener.swift
  programmable_video/ios/Classes/LocalParticipantListener.swift
  programmable_video/ios/Classes/PluginHandler.swift
  programmable_video/ios/Classes/RoomListener.swift
  programmable_video/ios/Classes/SwiftTwilioProgrammableVideoPlugin.swift
  programmable_video/lib/src/camera_capturer.dart
  programmable_video/lib/src/events/camera_events.dart
  programmable_video/lib/src/local_participant.dart
  programmable_video/lib/src/local_video_track.dart
  programmable_video/lib/src/parts.dart
  programmable_video/lib/src/programmable_video.dart
  programmable_video/lib/src/video_capturer.dart
  programmable_video/pubspec.lock
  programmable_video/pubspec.yaml
  programmable_video/test/camera_capturer_test.dart
  programmable_video/test/mock_platform_interface.dart
  programmable_video_platform_interface/CHANGELOG.md
  programmable_video_platform_interface/lib/src/method_channel_programmable_video.dart
  programmable_video_platform_interface/lib/src/models/capturers/camera_event.dart
  programmable_video_platform_interface/lib/src/models/model_exports.dart
  programmable_video_platform_interface/lib/src/programmable_video_platform_interface.dart
  programmable_video_platform_interface/pubspec.yaml
  programmable_video_platform_interface/test/method_channel_programmable_video_test.dart
Due: none

#35 Added Region enums for both `ConnectOptions.region` and `Room.mediaRegion` instead of string values
  programmable_video/example/android/app/build.gradle
Due: none

#35 Added Region enums for both `ConnectOptions.region` and `Room.mediaRegion` instead of string values
  programmable_video/CHANGELOG.md
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  programmable_video/example/ios/Podfile.lock
  programmable_video/example/pubspec.lock
  programmable_video/ios/Classes/PluginHandler.swift
  programmable_video/lib/src/camera_capturer.dart
  programmable_video/lib/src/exceptions/initialization_exception.dart
  programmable_video/lib/src/exceptions/missing_camera_exception.dart
  programmable_video/lib/src/exceptions/missing_parameter_exception.dart
  programmable_video/lib/src/exceptions/not_found_exception.dart
  programmable_video/lib/src/exceptions/twilio_exception.dart
  programmable_video/lib/src/local_audio_track.dart
  programmable_video/lib/src/local_data_track.dart
  programmable_video/lib/src/local_video_track.dart
  programmable_video/lib/src/parts.dart
  programmable_video/lib/src/programmable_video.dart
  programmable_video/pubspec.yaml
Due: none

#35 Added Region enums for both `ConnectOptions.region` and `Room.mediaRegion` instead of string values
  programmable_video/CHANGELOG.md
  programmable_video/android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  programmable_video/example/lib/conference/conference_room.dart
  programmable_video/example/lib/conference/participant_widget.dart
  programmable_video/example/pubspec.lock
  programmable_video/ios/Classes/PluginHandler.swift
  programmable_video/lib/src/remote_audio_track.dart
  programmable_video/pubspec.lock
  programmable_video/pubspec.yaml
  programmable_video_platform_interface/CHANGELOG.md
  programmable_video_platform_interface/lib/src/method_channel_programmable_video.dart
  programmable_video_platform_interface/lib/src/programmable_video_platform_interface.dart
  programmable_video_platform_interface/pubspec.yaml
  programmable_video_platform_interface/test/method_channel_programmable_video_test.dart
  programmable_video_platform_interface/test/programmable_video_platform_interface_test.dart
Due: none

Updated both iOS and Android SDK versions
  programmable_video/CHANGELOG.md
  programmable_video/README.md
  programmable_video/android/build.gradle
  programmable_video/example/android/build.gradle
  programmable_video/example/android/gradle/wrapper/gradle-wrapper.properties
  programmable_video/example/ios/Podfile.lock
  programmable_video/example/pubspec.lock
  programmable_video/ios/twilio_programmable_video.podspec
  programmable_video/pubspec.lock
  programmable_video/pubspec.yaml
Due: none

Add null safety check before foreach loops on remote datatracks
  lib/src/room.dart
Due: dartdoc, flutter_analyze, unit_test

Revert unrelated formatting change
  lib/src/room.dart
Due: dartdoc, flutter_analyze, unit_test

Fixed formatting.
  lib/src/room.dart
Due: dartdoc, flutter_analyze, unit_test

Fix remote data track crash (#14)
  lib/src/room.dart
Due: dartdoc, flutter_analyze, unit_test

#50 - Added support for Network Quality API.`
  programmable_video/example/pubspec.lock
  programmable_video/lib/src/connect_options.dart
  programmable_video/pubspec.lock
  programmable_video_platform_interface/CHANGELOG.md
  programmable_video_platform_interface/lib/src/models/connect_options_model.dart
  programmable_video_platform_interface/pubspec.yaml
Due: none

Add in frame-based picture taking for Android This change also addressed a picture tearing problem on Pixel devices, and prevents a crash on race conditions when looking for remote tracks.
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/TwilioProgrammableVideoPlugin.kt
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/YuvFrame.java
  lib/src/remote_participant.dart
Due: dartdoc, flutter_analyze, kotlin_analyze, unit_test

Fixed formatting
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/YuvFrame.java
Due: kotlin_analyze

Remove un-needed code from YuvFrame
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/YuvFrame.java
Due: none

Yuvframe code cleanup
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/YuvFrame.java
Due: none

Add comment around Pixel phone check.
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
Due: kotlin_analyze

Remove undeeded rotation code from Yuvframe
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/YuvFrame.java
Due: none
